


 @import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark; 
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: purple;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.btn-primary {
  background-image: linear-gradient(to right, #059669, #022c22);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  display: inline-block;
 
}


.btn-primary:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.navbar li{
  font-weight: 500;
}
