


 @import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark; 
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}


.btn-primary {
  background-image: linear-gradient(to right, #059669, #022c22);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  transition: all 0.3s ease;
}


.btn-primary:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.navbar li{
  font-weight: 500;
}
