
@plugin "daisyui" {
  themes: light --default;
 }


@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn-primary {
  @apply btn text-white border-0;
  
  background-image: linear-gradient(
    to right,
    #059669,
    #022c22 
    
  );
}