/* @import "tailwindcss"; */
@plugin "daisyui" {
  themes: light --default;
 }


@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}